<!doctype html>
<html ng-app="drag">
<head>
<meta name="viewport" content="width=device-width,initial-scale=1, minimum-scale=1.0, maximum-scale=1, user-scalable=no, minimal-ui">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="javascripts/jquery-ui-1.11.4.custom/jquery-ui.css" rel="stylesheet">
<link href="stylesheets/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="stylesheets/bootstrap-responsive.min.css" rel="stylesheet">
<link href="stylesheets/font-awesome.css" rel="stylesheet">
<link href="stylesheets/jquery.Jcrop.css" rel="stylesheet">
<link href="stylesheets/animate.css" rel="stylesheet">
<style>
	*{margin:0;padding:0;/*去掉焦点默认样式*/outline:0;}
	*, :before, :after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
	li {list-style:none;}
	body * {text-shadow: none!important;}
		/*重置滚动条样式*/
	::-webkit-scrollbar {width: 12px;}
	::-webkit-scrollbar-thumb {background-color: #ccc;}
	::-webkit-scrollbar-track {background-color: #eaeaea;border-left: 1px solid #ccc;}

	header {position: absolute;top:0;width:100%;height:40px;background: #222;color:#fff;}
	header nav {position: absolute;top:0;left:400px;height:100%;}
	header nav ul {height:100%;}
	header nav ul li{float:left;height:40px;line-height: 40px;margin: 0 20px;cursor: pointer;}

	.middle {position:relative;width:1000px;height:800px;margin: 50px auto 10px;border:1px solid #222;}

	.middle .container {position:absolute;left:250px;top:100px;width:316px;height:500px;border:1px solid #ccc;}

	.right-menu {position:absolute;width:100px;border:1px solid #ccc;display: none;background: #fff;z-index:100;-webkit-box-shadow: 3px 3px 3px;}

	.draggable {position:absolute;left:0px;top:0px;width:240px;height:30px;touch-action: pan-x pan-y;-webkit-user-select: none;-webkit-user-drag: none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*cursor: text;*/    }
	.draggable .edit {overflow: hidden;height:100%;width:100%;}
	.bar-rotate{position:absolute;top:-30px;height:20px;width:20px;border:2px solid red;}
/*.ui-resizable .ui-resizable-e{border-left:2px solid red;}
.ui-resizable .ui-resizable-s{border-top:2px solid red;}
.ui-resizable .ui-resizable-n{border-bottom:2px solid red;}
.ui-resizable .ui-resizable-w{border-right:2px solid red;}*/

	#voiceBtn {width: 20px;color: transparent;background-color: transparent;transform: scale(2.0, 2.0);-webkit-transform: scale(2.0, 2.0);-moz-transform: scale(2.0, 2.0);border: transparent;cursor: pointer;box-shadow: none;-webkit-box-shadow: none;}

	div[data-role="editor-toolbar"] {-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;}

	.dropdown-menu a {cursor: pointer;}

	.btn-toolbar .color-btn {border-bottom: 2px solid #08a1ef;padding-bottom: 2px;margin-bottom: -2px;font-size: 12px;top: -1px}

	.btn-toolbar .bgcolor-btn {background-color: #d0d0d0;padding: 2px;margin: -2px}

	.btn-toolbar .color-menu,.btn-toolbar .bgcolor-menu {min-width: 140px;padding: 3px}

	.btn-toolbar .color-menu li,.btn-toolbar .bgcolor-menu li {float: left;box-shadow: 0 1px 2px rgba(0,0,0,.5);width: 20px;height: 20px;margin: 3px;cursor: pointer;overflow: hidden}

	.btn-toolbar .color-menu li a,.btn-toolbar .bgcolor-menu li a {height: 100%;width: 100%;padding: 0;margin: 0;border-radius: 0;background-image: none;}

	.btn-toolbar .color-menu .glyphicon-remove,.btn-toolbar .bgcolor-menu .glyphicon-remove {color: #b680b0;line-height: 16px}
	.edit-img{position: relative;overflow: hidden;}
	.edit-img .comp_image{ position: absolute;top:0;left:0;}

	.ui-resizable .ui-resizable-e{border-left:2px solid red;display: none}
	.ui-resizable .ui-resizable-s{border-top:2px solid red;display: none}
	.ui-resizable .ui-resizable-n{border-bottom:2px solid red;display: none}
	.ui-resizable .ui-resizable-w{border-right:2px solid red;display: none}

	.edit-text {padding: 5px;}

	.toolbar {position:absolute;height:800px;width:400px;/*  left:1000px;*/right:50px;top:0}

	.toolbar .img-Jcrop {position:absolute;width:250px;height:250px;top:50px;right:50px;border:1px solid #222;}
	
	.toolbar .animate {position:absolute;top:330px;right:0px;width:350px;height:400px;border:1px solid #222;}
	.animate .setNumber {height:30px;margin:10px 0;}
	.setNumber input {height:100%;}

	/*.animatable {
			-webkit-animation-duration: 1s;
			-webkit-animation-delay: 2s;
			-webkit-animation-iteration-count: 1;
	}*/
</style>
</head>
<body>
		<div ng-controller="containerController">
				<header ng-controller="headController">
						<nav>
								<ul>
										<li ng-click="addWordBox()">文本</li>
										<li ng-click="addPicBox()">图片
										<input id="fileImage" type="file" size="30" name="fileselect[]" multiple="" style="display:none"></li>
										<li ng-click="saveJson()">保存</li>
										<li ng-click="viewTest()">浏览</li>
								</ul>
						</nav>
				</header>
				<div  class="middle" gg-middle ng-mousedown="midClick($event)">
						<div class="container">
								<div gg-rotate gg-resize gg-drag gg-edit ctype="2" ng-dblclick="editWord($event)" ng-mousedown="bindResize()" class="draggable">
										<div class="edit animatable" style="">
												<div class="text preventDom edit-text" style="word-wrap: break-word;">Ford</div>
										</div>
								</div>
								<div gg-rotate gg-resize gg-drag gg-edit class="draggable" ctype="4" style="top:50px">
									<div class="edit-img animatable" style="">
										<img id="18" class="element comp_image editable-image" src="/images/head.png" >
									</div>
								</div>
								<div gg-rotate gg-resize gg-drag gg-edit class="draggable" ctype="4" style="top:150px">
										<div class="edit-img animatable" style="">
												<img id="18" class="element comp_image editable-image" src="/images/tail.png" >
										</div>
								</div>
						</div>
						<nav class="right-menu">
								<ul>
										<li>上一层</li>
										<li>下一层</li>
										<li class="delete">删除</li>
								</ul>
						</nav>
				</div>
		</div>
		<div class="toolbar">
				
				<!-- 截取框 -->
				<div class="img-Jcrop" >
						<!-- <img id="jcrop" src=""> -->
				</div>
				
				<div ng-controller="uploadPicController">
						<button ng-click="selectPic()">Upload Your Pic</button>
						<input type="file" style="display:none" id="file" name='file'/>
				</div>

				<!-- css3 animate -->
				<div class="animate">
						<!-- <div class="setNumber">持续: <input type="text" /></div>
						<div class="setNumber">延时: <input type="text" /></div> -->
						<!-- <ul>
								<li class="noeffect">无效果</li>
								<li class="fadeInNormal">淡入</li>
								<li class="fadeIn">弹性放大</li>
								<li class="expandOpen">弹性缩小</li>
								<li class="zoomIn">放大</li>
						</ul> -->
				</div>
		</div>

	<div class="btn-toolbar" data-role="editor-toolbar" data-target="#editor">
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font"><i class="icon-font"></i><b class="caret"></b></a>
					<ul class="dropdown-menu">
							<li><a data-edit="fontName Serif" style="font-family:&#39;Serif&#39;">Serif</a></li>
							<li><a data-edit="fontName Sans" style="font-family:&#39;Sans&#39;">Sans</a></li>
							<li><a data-edit="fontName Arial" style="font-family:&#39;Arial&#39;">Arial</a></li>
							<li><a data-edit="fontName Arial Black" style="font-family:&#39;Arial Black&#39;">Arial Black</a></li>
							<li><a data-edit="fontName Courier" style="font-family:&#39;Courier&#39;">Courier</a></li>
							<li><a data-edit="fontName Courier New" style="font-family:&#39;Courier New&#39;">Courier New</a></li>
							<li><a data-edit="fontName Comic Sans MS" style="font-family:&#39;Comic Sans MS&#39;">Comic Sans MS</a></li>
							<li><a data-edit="fontName Helvetica" style="font-family:&#39;Helvetica&#39;">Helvetica</a></li>
							<li><a data-edit="fontName Impact" style="font-family:&#39;Impact&#39;">Impact</a></li>
							<li><a data-edit="fontName Lucida Grande" style="font-family:&#39;Lucida Grande&#39;">Lucida Grande</a></li>
							<li><a data-edit="fontName Lucida Sans" style="font-family:&#39;Lucida Sans&#39;">Lucida Sans</a></li>
							<li><a data-edit="fontName Tahoma" style="font-family:&#39;Tahoma&#39;">Tahoma</a></li>
							<li><a data-edit="fontName Times" style="font-family:&#39;Times&#39;">Times</a></li>
							<li><a data-edit="fontName Times New Roman" style="font-family:&#39;Times New Roman&#39;">Times New Roman</a></li>
							<li><a data-edit="fontName Verdana" style="font-family:&#39;Verdana&#39;">Verdana</a></li>
					</ul>
				</div>
			<div class="btn-group">
				<a class="btn dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Font Size"><i class="icon-text-height"></i>&nbsp;<b class="caret"></b></a>
					<ul class="dropdown-menu">
					<li><a data-edit="fontSize 5"><font size="5">Huge</font></a></li>
					<li><a data-edit="fontSize 3"><font size="3">Normal</font></a></li>
					<li><a data-edit="fontSize 1"><font size="1">Small</font></a></li>
					</ul>
			</div>
			<div class="btn-group">
				<a class="btn btn-info" data-edit="bold" title="" data-original-title="Bold (Ctrl/Cmd+B)"><i class="icon-bold"></i></a>
				<a class="btn btn-info" data-edit="italic" title="" data-original-title="Italic (Ctrl/Cmd+I)"><i class="icon-italic"></i></a>
				<a class="btn" data-edit="strikethrough" title="" data-original-title="Strikethrough"><i class="icon-strikethrough"></i></a>
				<a class="btn btn-info" data-edit="underline" title="" data-original-title="Underline (Ctrl/Cmd+U)"><i class="icon-underline"></i></a>
			</div>
			<div class="btn-group">
				<a class="btn" data-edit="insertunorderedlist" title="" data-original-title="Bullet list"><i class="icon-list-ul"></i></a>
				<a class="btn" data-edit="insertorderedlist" title="" data-original-title="Number list"><i class="icon-list-ol"></i></a>
				<a class="btn" data-edit="outdent" title="" data-original-title="Reduce indent (Shift+Tab)"><i class="icon-indent-left"></i></a>
				<a class="btn" data-edit="indent" title="" data-original-title="Indent (Tab)"><i class="icon-indent-right"></i></a>
			</div>
			<div class="btn-group">
				<a class="btn btn-info" data-edit="justifyleft" title="" data-original-title="Align Left (Ctrl/Cmd+L)"><i class="icon-align-left"></i></a>
				<a class="btn" data-edit="justifycenter" title="" data-original-title="Center (Ctrl/Cmd+E)"><i class="icon-align-center"></i></a>
				<a class="btn" data-edit="justifyright" title="" data-original-title="Align Right (Ctrl/Cmd+R)"><i class="icon-align-right"></i></a>
				<a class="btn" data-edit="justifyfull" title="" data-original-title="Justify (Ctrl/Cmd+J)"><i class="icon-align-justify"></i></a>
			</div>
			<div class="btn-group">
					<a class="btn dropdown-toggle" data-toggle="dropdown" title="" data-original-title="Hyperlink"><i class="icon-link"></i></a>
						<div class="dropdown-menu input-append">
								<input class="span2" placeholder="URL" type="text" data-edit="createLink">
								<button class="btn" type="button">Add</button>
				</div>
				<a class="btn" data-edit="unlink" title="" data-original-title="Remove Hyperlink"><i class="icon-cut"></i></a>

			</div>
			
			<div class="btn-group">
				<a class="btn" title="" id="pictureBtn" data-original-title="Insert picture (or just drag &amp; drop)"><i class="icon-picture"></i></a>
				<input type="file" data-role="magic-overlay" data-target="#pictureBtn" data-edit="insertImage" style="opacity: 0; position: absolute; top: 0px; left: 0px; width: 37px; height: 30px;">
			</div>
			<div class="btn-group">
				<a class="btn" data-edit="undo" title="" data-original-title="Undo (Ctrl/Cmd+Z)"><i class="icon-undo"></i></a>
				<a class="btn" data-edit="redo" title="" data-original-title="Redo (Ctrl/Cmd+Y)"><i class="icon-repeat"></i></a>
			</div>
			<div class="btn-group">
						<!-- <a class="btn dropdown-toggle first-child" data-toggle="dropdown" title="文字大小" aria-haspopup="true" aria-expanded="false">
								<i class="glyphicon glyphicon-text-width">
								</i>
								&nbsp;
								<b class="caret">
								</b>
						</a> -->
						<a class="btn dropdown-toggle" data-toggle="dropdown" title="" data-original-title="">
							<i class="icon-font">
				</i><b class="caret"></b>
			</a>
						<ul class="dropdown-menu size-menu">
								<li>
										<a data-edit="fontSize 7" >
												48px
										</a>
								</li>
								<li>
										<a data-edit="fontSize 6">
												32px
										</a>
								</li>
								<li>
										<a dropdown-toggle="" data-edit="fontSize 5" aria-haspopup="true" aria-expanded="false">
												24px
										</a>
								</li>
								<li>
										<a dropdown-toggle="" data-edit="fontSize 4" aria-haspopup="true" aria-expanded="false">
												18px
										</a>
								</li>
								<li>
										<a dropdown-toggle="" data-edit="fontSize 3" aria-haspopup="true" aria-expanded="false">
												16px
										</a>
								</li>
								<li>
										<a dropdown-toggle="" data-edit="fontSize 2" aria-haspopup="true" aria-expanded="false">
												13px
										</a>
								</li>
								<li>
										<a dropdown-toggle="" data-edit="fontSize 1" aria-haspopup="true" aria-expanded="false">
												12px
										</a>
								</li>
						</ul>
		
		</div>
		<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" title="文字颜色" aria-haspopup="true" aria-expanded="false">
								<i class="glyphicon glyphicon-font color-btn">
								</i>
								&nbsp;
								<b class="caret">
								</b>
						</a>
						<ul class="dropdown-menu color-menu ng-scope">
								<li><a class="btn" data-edit="foreColor #000000" style="background-color: #000000;height:10px;width:10px" ></a></li>
								<li><a class="btn" data-edit="foreColor #7e2412" style="background-color: #7e2412"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #ff5400" style="background-color: #ff5400" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #225801" style="background-color: #225801" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #0c529e" style="background-color: #0c529e" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #333333" style="background-color: #333333" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #b61b52" style="background-color: #b61b52" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #f4711f" style="background-color: #f4711f" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #3bbc1e" style="background-color: #3bbc1e" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #23a3d3" style="background-color: #23a3d3" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #888888" style="background-color: #888888" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #d34141" style="background-color: #d34141" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #f7951e" style="background-color: #f7951e" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #29b16a" style="background-color: #29b16a" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #97daf3" style="background-color: #97daf3" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #cccccc" style="background-color: #cccccc" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #ec7c7c" style="background-color: #ec7c7c" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #fdea02" style="background-color: #fdea02" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #79c450" style="background-color: #79c450" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #563679" style="background-color: #563679" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #ffffff" style="background-color: #ffffff" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #ffcccc" style="background-color: #ffcccc" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #d9ef7f" style="background-color: #d9ef7f" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn" data-edit="foreColor #c3f649" style="background-color: #c3f649" aria-haspopup="true" aria-expanded="false"></a></li>
								<li><a dropdown-toggle="" class="btn glyphicon glyphicon-remove" data-edit="foreColor transparent" style="background-color: transparent" aria-haspopup="true" aria-expanded="false"></a></li>
						</ul>
		</div>
		<div class="btn-group">
						<a class="btn dropdown-toggle" data-toggle="dropdown" title="文字背景颜色" aria-haspopup="true" aria-expanded="false">
								<i class="glyphicon glyphicon-font bgcolor-btn">
								</i>
								&nbsp;
								<b class="caret">
								</b>
						</a>
						<ul class="dropdown-menu bgcolor-menu ng-scope">
						<li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(0,0,0, 0.3)" style="background-color: rgba(0,0,0, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(126,36,18, 0.3)" style="background-color: rgba(126,36,18, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(255,84,0, 0.3)" style="background-color: rgba(255,84,0, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(34,88,1, 0.3)" style="background-color: rgba(34,88,1, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(12,82,158, 0.3)" style="background-color: rgba(12,82,158, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(51,51,51, 0.3)" style="background-color: rgba(51,51,51, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(182,27,82, 0.3)" style="background-color: rgba(182,27,82, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(244,113,31, 0.3)" style="background-color: rgba(244,113,31, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(59,188,30, 0.3)" style="background-color: rgba(59,188,30, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(35,163,211, 0.3)" style="background-color: rgba(35,163,211, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(136,136,136, 0.3)" style="background-color: rgba(136,136,136, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(211,65,65, 0.3)" style="background-color: rgba(211,65,65, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(247,149,30, 0.3)" style="background-color: rgba(247,149,30, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(41,177,106, 0.3)" style="background-color: rgba(41,177,106, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(151,218,243, 0.3)" style="background-color: rgba(151,218,243, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(204,204,204, 0.3)" style="background-color: rgba(204,204,204, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(236,124,124, 0.3)" style="background-color: rgba(236,124,124, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(253,234,2, 0.3)" style="background-color: rgba(253,234,2, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(121,196,80, 0.3)" style="background-color: rgba(121,196,80, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(86,54,121, 0.3)" style="background-color: rgba(86,54,121, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(255,255,255, 0.3)" style="background-color: rgba(255,255,255, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(255,204,204, 0.3)" style="background-color: rgba(255,204,204, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(217,239,127, 0.3)" style="background-color: rgba(217,239,127, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn" data-edit="backColor rgba(195,246,73, 0.3)" style="background-color: rgba(195,246,73, 0.3)" aria-haspopup="true" aria-expanded="false"></a></li><li><a dropdown-toggle="" class="btn glyphicon glyphicon-remove" data-edit="backColor transparent" style="background-color: transparent" aria-haspopup="true" aria-expanded="false"></a></li></ul>
				</div>
			<input type="text" data-edit="inserttext" id="voiceBtn" x-webkit-speech="" style="display: none;">
		</div>

		
	<script src="javascripts/jquery-1.11.2.min.js"></script>
	<script src="javascripts/jquery-ui-1.11.4.custom/jquery-ui.min.js"></script>
	<script src="javascripts/angular.min.js"></script>
	<script src="javascripts/hammer.js"></script>
	<script src="javascripts/jquery.hotkeys.js"></script>
	<script src="javascripts/bootstrap.min.js"></script>
	<script src="javascripts/bootstrap-wysiwyg.js"></script>
	<script src="javascripts/jquery.Jcrop.js"></script>
	<script>
	
		$(function(){
			function initToolbarBootstrapBindings() {
				var fonts = ['Serif', 'Sans', 'Arial', 'Arial Black', 'Courier', 
							'Courier New', 'Comic Sans MS', 'Helvetica', 'Impact', 'Lucida Grande', 'Lucida Sans', 'Tahoma', 'Times',
							'Times New Roman', 'Verdana'],
							fontTarget = $('[title=Font]').siblings('.dropdown-menu');
				$.each(fonts, function (idx, fontName) {
						fontTarget.append($('<li><a data-edit="fontName ' + fontName +'" style="font-family:\''+ fontName +'\'">'+fontName + '</a></li>'));
				});
				$('a[title]').tooltip({container:'body'});
					$('.dropdown-menu input').click(function() {return false;})
							.change(function () {$(this).parent('.dropdown-menu').siblings('.dropdown-toggle').dropdown('toggle');})
					.keydown('esc', function () {this.value='';$(this).change();});

				$('[data-role=magic-overlay]').each(function () { 
					var overlay = $(this), target = $(overlay.data('target')); 
					overlay.css('opacity', 0).css('position', 'absolute').offset(target.offset()).width(target.outerWidth()).height(target.outerHeight());
				});
				$('#voiceBtn').hide();
				// if ("onwebkitspeechchange"  in document.createElement("input")) {
				//   var editorOffset = $('#editor').offset();
				//   $('#voiceBtn').css('position','absolute').offset({top: editorOffset.top, left: editorOffset.left+$('#editor').innerWidth()-35});
				// } else {
				//   $('#voiceBtn').hide();
				// }
			};
			initToolbarBootstrapBindings();  
			
		});
</script>
<script>
		angular.module('drag', []).factory('animatePrivoder', function() {
				return {
						animate: function(self) {
								var animateName = '',
										input = $('<div class="setNumber">持续: <input id="duration" type="text" value="1.0"/></div><div class="setNumber">延时: <input id="delay" type="text" value="1.0"/></div>'),
										ul = $('<ul><li class="noeffect">无效果</li><li class="bounceInDown">淡入</li><li class="fadeIn">弹性放大</li><li class="fadeOut">弹性缩小</li><li class="zoomIn">放大</li></ul>'),
										animatable = self.find('.animatable');

								$('.animate').html('').append(input).append(ul);

								ul.on('mousedown', 'li', function(e) {
										e.stopPropagation();    

										var duration = $('#duration').val() || 1,
												delay = $('#delay').val() || 1;
												
										//秒切动画，去掉上一次的动画
										animatable.removeClass(animateName + ' animated');

										animateName = $(e.target).attr('class');
										animatable.css({
												'-webkit-animation-duration': duration + 's',
												'-webkit-animation-delay': delay + 's',
												'-moz-animation-duration': duration + 's',
												'-moz-animation-delay': delay + 's',
												'-animation-duration': duration + 's',
												'-animation-delay': delay + 's'
										});
										animatable.addClass(animateName + ' animated');                                 
								});
								self.on('webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend', function() {
										animatable.removeClass('animated');
								}); 
						}
				}
		}).factory('jcropPrivoder', function() {
				return {
						jcrop: function(self, lastC) {
								var jcrop = $('<img id="jcrop" src="">'),
										img = self.find('img'),
										imgWidth = img.width(),
										imgHeight = img.height();

								jcrop.attr('src', img.attr('src'));
								var r = imgWidth / imgHeight,
										maxHeight = $('.img-Jcrop').height(),
										maxWidth = $('.img-Jcrop').width();

								r <= 1? jcrop.height(maxHeight).width(maxHeight * r): jcrop.height(maxWidth / r).width(maxWidth);

								$('.img-Jcrop').html(jcrop);

								var jcrop_api = $.Jcrop(jcrop, {
										onChange: updatePreview,
										onSelect: updatePreview,
										setSelect: [ lastC.c.x||0, lastC.c.y||0, lastC.c.x2||300, lastC.c.y2||300 ]
								});
																				
								function updatePreview(c) {
										//此处必须为图片当前的宽度，因为有个缩放倍数的影响
										var img = self.find('img'),
												imgWidth = img.width(),
												imgHeight = img.height();

										var tmpDivWidth = c.w,
												tmpDivHeight = c.h,
												tmpImgWidth = jcrop.width(),
												tmpImgHeight = jcrop.height();

										//self不能隐藏掉旋转按钮
										self.width(tmpDivWidth / tmpImgWidth * imgWidth)
												.height(tmpDivHeight / tmpImgHeight * imgHeight)
												.find('.edit-img')//overflow：hidden
												.width(tmpDivWidth / tmpImgWidth * imgWidth)
												.height(tmpDivHeight / tmpImgHeight * imgHeight);

										img.css({'left': -c.x / tmpImgHeight * imgHeight + 'px',
																'top': -c.y / tmpImgWidth * imgWidth + 'px'});

										lastC.c = c;

										self.find('.bar-rotate').css({'left': self.width()/2 - self.find('.bar-rotate').width()/2 + 'px'});                    
								}
						}
				}
		}).directive('ggDrag', function() {
				return {
						restrict: "A",
						link: function(a, b) {
								var c, d = 0,
										e = 0,
										f = {},
										g = {},
										h = {},
										i = {},
										j = $(b),//旋转层
										k = j.parent(),//最外层
										l = {
											width: k.width(),
											height: k.height()
										},
										m = new Hammer(j.get(0));

								m.get("pan").set({
										threshold: 0
								}), m.on("panstart", function(a) {
										if (a.preventDefault(), a.srcEvent.preventDefault(), !j.hasClass("no-drag")) {
												j.css({"opacity": .35}), $("body").css({
														"user-select": "none",
														cursor: "default"
												}), c = k.offset();
											
												var b = {
														width: j.width(),
														height: j.height()
												};
												 d = j.get(0).style.transform || j.get(0).style.webkitTransform || 0, d = d && d.replace("rotateZ(", "").replace("deg)", ""), d = d && parseFloat(d), d >= 90 && 180 > d && (d = 180 - d), d >= 180 && 270 > d && (d = 270 - d), d >= 270 && 360 > d && (d = 360 - d), e = 2 * d * Math.PI / 360;
												//拖拽之前，计算一次旋转之后（可能没有旋转）的长宽
												var m = 0 == e ? b.height : (b.width / 2 + b.height / 2 / Math.tan(e)) * Math.sin(e) * 2,
														n = 0 == e ? b.width : (b.width / 2 + b.height / 2 / Math.tan(Math.PI / 2 - e)) * Math.sin(Math.PI / 2 - e) * 2;
												i = {
														height: m,
														width: n
												}, h = j.offset();
												var o = j.position();
													
												g = a.center;//旋转层中心相对视窗的x,y坐标
													//拖拽之前，计算边界和中心相对旋转层的x,y坐标
												g.top = g.y - o.top, g.bottom = g.y + l.height - (o.top + i.height), g.left = g.x - o.left, g.right = g.x + l.width - (o.left + i.width), f.x = a.center.x - (parseFloat(j.css("left")) + c.left), f.y = a.center.y - (parseFloat(j.css("top")) + c.top)
										}
										}), m.on("panmove", function(a) {//a能得到旋转层当前位置的中心相对视窗的x,y坐标

												//  a.preventDefault();
												if(j.hasClass("no-drag"))return;

												//阻止图片的默认拖动事件
												"img" == a.target.tagName.toLowerCase() && (a.target.ondragstart = function() {
														return false;
												});

												j.hasClass("no-drag") || (j.css("top", a.center.y - c.top - f.y), j.css("left", a.center.x - c.left - f.x))
										}), m.on("panend", function(b) {
										j.css({"opacity": 1}), $("body").css({
												"user-select": "initial",
												cursor: "default"
										});
										var c = (j.position(), {
												top: j.css("top"),
												left: j.css("left")
										});
								})
						}
				}
		}).directive('ggRotate', function() {
				return {
						restrict : 'A',  
						link : function(scope, element) {

								var $this = element,
								$rotate = $('<div class="bar bar-rotate bar-radius">');
								$rotate.hide();

								var e, f = {},
								hammer = new Hammer($rotate.get(0));

								$this.append($rotate).append('<div class="bar bar-line">');

								hammer.on('panstart', function(a) { 
										$this.addClass('no-drag');
								
										$('body').css({
												'user-select': 'none',
												cursor: 'default'
										});
										var $container = $this.parent();

										f = {
												x: parseFloat($this.css('left')) + $container.offset().left + $this.width() / 2,
												y: parseFloat($this.css('top')) + $container.offset().top + $this.height() / 2
										}
								});

								hammer.on('panmove', function(a) {
										var b = a.center,
										d = b.x - f.x,
										g = b.y - f.y,
										h = Math.abs(d / g);

										e = Math.atan(h) / (2 * Math.PI) * 360, d > 0 && 0 > g ? e = 360 + e : d > 0 && g > 0 ? e = 180 - e : 0 > d && g > 0 ? e = 180 + e : 0 > d && 0 > g && (e = 360 - e), e > 360 && (e -= 360), $this.css({
												transform: 'rotateZ(' + e + 'deg)'
										})
						
								});

								hammer.on('panend', function() {
										$this.removeClass("no-drag");
										$("body").css({
												"user-select": "initial",
												cursor: "default"
										});
										//  scope.updateCompAngle($this.attr("id"), e);
										//  scope.$broadcast("updateTransform", e);
								});
						}
				};
			}).directive('ggResize', ['jcropPrivoder', 'animatePrivoder', function(jcropPrivoder, animatePrivoder) {
				return {
						restrict: 'A',
						link: function(scope, element) {
								var self = element,
										jqimg = self.find('img'),
										allDraggable = self.parent().find('.draggable'),
										image = new Image();
						
								var lastC = {c:{}};

						
								//初始化旋转按钮的位置            
								self.find('.bar-rotate').css({'left': self.width()/2 - self.find('.bar-rotate').width()/2 + 'px'});
					
								//初始化图片的位置大小
								if('4' == self.attr('ctype').charAt(0)) {
										image.src = jqimg.attr('src');
										image.onload = function() {                        
												var r = image.width / image.height,
														W = 320,//最大宽度
														H = W / r;

												jqimg.height(H).width(W);

												self.height(H).width(W).find('.edit-img').height(H).width(W);                 
										}
								}
									
								self.on('mousedown', function(e) {   
										e.stopPropagation();      
										//设置旋转按钮的位置 
										self.find('.bar-rotate').css({'left': self.width()/2 - self.find('.bar-rotate').width()/2 + 'px'});
										allDraggable
														.find('.ui-resizable-handle').hide()
														.end()
														.find('.bar-rotate').hide();

										var oh, ow, oimgw, oimgh, left, top;
										var aspectRatio = '4' == self.attr('ctype').charAt(0)? self.width() / self.height(): 0;

										var options = {
												disabled: false, 
												handles: 'all',
												aspectRatio: aspectRatio,
												start: function() {
														self.addClass('no-drag');
														if('4' == self.attr('ctype').charAt(0)) {
																ow = self.width();
																oh = self.height();
																oimgw = jqimg.width();
																oimgh = jqimg.height();
																left = jqimg.css('left').split('px')[0];
																top = jqimg.css('top').split('px')[0];
														}
												},
												resize: function(a, c) {                                
														self.find('.bar-rotate').css({'left': self.width()/2 - self.find('.bar-rotate').width()/2 + 'px'});

														if('4' == self.attr('ctype').charAt(0)) {
																self
																		.find('.edit-img')
																		.width(self.width())
																		.height(self.height());

																jqimg
																		.width(self.width() / ow * oimgw)
																		.height(self.height() / oh * oimgh)
																		.css({'left': self.width() / ow * left + 'px',
																				'top': self.width() / ow * top + 'px'});
														}
												},
												stop: function() {
														self.removeClass('no-drag');
												}
										};

										//记录右键菜单对应的draggable    
								//    that = self.closest('.draggable');
										$('.right-menu').hide();
										//绑定右键事件
										self.closest('.draggable').on('contextmenu', function(e) {
												e.preventDefault();

												var o = {
														x: e.pageX - $('.middle').css('marginLeft').split('px')[0],
														y: e.pageY - $('.middle').css('marginTop').split('px')[0]
												}; 
												
												$('.right-menu').css({'left':o.x+'px','top':o.y+'px'}).show();
										});
										
										self.resizable(options).find('.ui-resizable-handle').show()
												.end()
												.find('.bar-rotate').show();

										//截图                        
										if('4' == self.attr('ctype').charAt(0)) {                           
												jcropPrivoder.jcrop(self, lastC);
										} else {
												$('.img-Jcrop').html('');
										}

										//动画
										animatePrivoder.animate(self);

										//当前右键菜单对应的draggable
										scope.$emit('set-That', self);
								});
						}
				}
		}]).directive('ggEdit', function() {
						return {
								restrict: 'A',
								link: function(scope, element) {                    
										var allDraggable = element.parent().find('.draggable');

										element.find('.edit-text').css({'position':'relative','width':'100%','height':'100%'});

										scope.editWord = function(e) {
												if('2' == $(e.currentTarget).attr('ctype').charAt(0)) {
														var target = $(e.target);
														
														target
																.closest('.draggable')
																.addClass('no-drag')
																.find('.edit-text')
																.wysiwyg();

														//wysiwyg会自动设置当前对象的contenteditable属性为true
														window.prettyPrint && prettyPrint();
												} 
										};
								}
						}
				}).directive('ggMiddle', function() {
						return {
								restrict: 'A',
								link: function(scope, element) {                  
										var that;

										scope.midClick = function(e) {
												var allDraggable = element.find('.draggable');
												e.stopPropagation();

												var self = $(e.target);
												
												allDraggable.removeClass('no-drag')
																.find('.edit-text').attr('contenteditable', false)
																.end()
																.find('.ui-resizable-handle').hide()
																.end()
																.find('.bar-rotate').hide();                            

												if(self.closest('.draggable').hasClass('draggable')) {
														self.closest('.draggable')
																.find('.ui-resizable-handle').show()
																.end()
																.find('.bar-rotate').show();                            
												} else {
														$('.img-Jcrop').html('');
												}

												if(self.closest('.right-menu').hasClass('right-menu')) {
														scope.$emit('to-rightMenu', self);
												}

												$('.right-menu').hide();
										};
								}
						};
				}).controller('containerController', ['$scope', function($scope) {    
						var that;   

						$scope.$on('to-rightMenu', function(e, self) {
								if(self.hasClass('delete')) {
										that.remove();
								}
						});

						$scope.$on('set-That', function(e, data) {
								console.log(data);
								that = data;
						});

				}]).controller('headController', function($scope, $http, $compile) {
					 
						$scope.saveJson = function() {
								var _json = {elements:[]};

								$('.draggable').each(function() {
										var self = $(this),
												animatableClass = self.find('.animatable').attr('class').split('animatable')[1].replace(/(^\s*)|(\s*$)/g, "") || '',
												duration = 0,
												delay = 0;

										var arr = self.find('.animatable').attr('style').split(';');

										$.each(arr, function(i) {
												duration = /duration/.test(arr[i])? arr[i].split(':')[1].replace(/(^\s*)|(\s*$)/g, ""): duration;
												delay = /delay/.test(arr[i])? arr[i].split(':')[1].replace(/(^\s*)|(\s*$)/g, ""): delay;
										});

									 var obj = {
												"id":2,
												"pageId":36846632,
												"sceneId":2535545,
												"css":{
														"zIndex":self.css('zIndex'),
														"left":self.css('left'),
														"top":self.css('top'),
														"width":self.width() + 'px',
														"height":self.height()  + 'px'
												},
												"animatable":{
														"class":animatableClass,
														"anim":{
																"type":1,
																"direction":2,
																"duration":duration,
																"delay":delay
														}                
												}
										};

										if('4' === self.attr('ctype').charAt()) {
												obj.type = 4;
												obj.imgStyle = {
														"width":self.find('img').width() + 'px',
														"height":self.find('img').height() + 'px',
														"left":self.find('img').css('left'),
														"top":self.find('img').css('top')
												};
												obj.imgSrc = self.find('img').attr('src');
										} else {
												obj.type = 2;                           
												obj.content = self.find('.animatable').html();
										}
										_json.elements.push(obj);
								});

							$http({
								method: 'POST',
								url: 'users',
								params: _json
							});
							console.log(JSON.stringify(_json));
						};

						$scope.viewTest = function() {
								window.location.href = 'html/test.html'; 
						};

						$scope.addWordBox = function() {
								var text = $('<div gg-rotate gg-resize gg-drag gg-edit ctype="2" ng-dblclick="editWord($event)" class="draggable"><div class="edit animatable" style=""><div class="text preventDom edit-text" style="word-wrap: break-word;"><div style="text-align: center;">请修改文本</div></div></div></div>');
								$('.container').append(text);
								$compile(text)($scope);
						};

						$scope.addPicBox = function() {
								var text = $('<div gg-rotate gg-resize gg-drag gg-edit class="draggable" ctype="4" style="top:50px"><div class="edit-img animatable" style=""><img id="18" class="element comp_image editable-image" src="/images/head.png" ></div></div>');
								$('.container').append(text);
								$compile(text)($scope);
						};
				}).controller('uploadPicController', function($scope) {

						$scope.selectPic = function() {
								$('#file').click();
						}
				});
		</script>
</body>
</html>